.carousel {
  display: flex;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  // block native panning on the axis you control, allow the other axis for page scroll
  &.horizontal {
    touch-action: pan-y;
  }
  &.vertical {
    touch-action: pan-x;
  }
}

.carousel::-webkit-scrollbar {
  display: none;
}

.item {
  flex: 0 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}
